.main {
  margin-left: 4rem;

  h1 {
    font-size: 38px;
    margin-bottom: 4rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.cardContainer {
  height: 100%;
}

.input {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  input,
  textarea {
    border-radius: 8px;
    border: 1px solid var(--secondary);
    padding: 5px;
    margin-bottom: 2rem;
    resize: none;
  }
  .price {
    width: 100px;
  }
  .address {
    width: 400px;
  }
  .date {
    width: 150px;
  }

  .legalInfo {
    width: 400px;
  }
}

.dateContainer {
  h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.dateRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.checkboxState {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 1rem;
  p {
    font-size: 13px;
    font-weight: 400;
    margin-right: 0.5rem;
  }
  input {
    margin-right: 2rem;

    font-size: 15px;
  }
}

.inputDate {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 2rem;
  label {
    margin-right: 1rem;
  }

  input {
    border-radius: 10px;
    width: 100px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid var(--secondary);
    padding: 5px;
  }
}

.inputImage {
  width: 150px;
  display: flex;
  align-self: center;
  padding: 4rem 6rem;
  margin: 4rem;
  border: 1px solid var(--secondary);
  border-radius: 10px;
}

.conditionContainerLabel {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.checkBoxField {
  display: flex;
  align-items: center;
  gap: 5px;
}

.submitBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary);
  color: var(--neutral-0);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

.upload {
  position: relative;
  width: 280px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='black' stroke-width='2' stroke-dasharray='13px' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 10px;
  height: 100px;

  input[type="file"] {
    display: none;
  }

  label {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    cursor: pointer;
  }

  .uploaded {
    color: var(--secondary);
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
